/*
* Lit v0.1
* Primary Color set to: #FA0;
*/

* {
  box-sizing: border-box;
}
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.col,
.cols {
    width: 100%;
    float: left;
}


/* For devices larger than 400px */



/* For devices larger than 550px. The unicodes are the numbers 1-11
*/

@media (min-width: 550px) {
    .col,
    .cols {
        margin-left: 4%;
    }
    .col:first-child,
    .cols:first-child {
        margin-left: 0;
    }
    .\31.col {
        width: 4.67%;
    }
    .\32.cols {
        width: 13.33%;
    }
    .\33.cols {
        width: 22%;
    }
    .\34.cols {
        width: 30.67%;
    }
    .\35.cols {
        width: 39.33%;
    }
    .\36.cols {
        width: 48%;
    }
    .\37.cols {
        width: 56.67%;
    }
    .\38.cols {
        width: 65.33%;
    }
    .\39.cols {
        width: 74%;
    }
    .\31 0.cols {
        width: 82.67%;
    }
    .\31 1.cols {
        width: 91.33%;
    }
}

body {
    font: 1rem/1.6 "Nunito", sans-serif;
    color: #222;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 1em 0 .5em 0;
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2.2rem
}

h3 {
    font-size: 1.9rem
}

h4 {
    font-size: 1.6rem
}

h5 {
    font-size: 1.3rem
}

h6 {
    font-size: 1rem
}

p {
    margin-top: 0;
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: #FA0;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}



/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn {
    padding: 12px 20px;
    color: #555;
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: inherit;
    border: 1px solid;
    cursor: pointer;
    font-size: 12px;
    transition: all .2s ease-in-out;
}

.btn:hover,
.btn:focus {
    transform: scale(1.03);
}

.btn.btn-primary {
    color: #FFF;
    background-color: #FA0;
    border: none;
}



/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #DDD;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #FA0;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: inside;
}

ol {
    list-style: inside;
}

ol,
ul {
    padding-left: 0; /*possibly delete the specific bit*/
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1rem 0 1rem 3rem;
}

li {
    margin-bottom: .5rem;
}



/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code, xmp {
    padding: .4rem;
    background: #F1F1F1;
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}



/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}



/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}




/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.w-100 {
    width: 100%;
}



/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin: 3rem 0 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}



/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Self Clearing Goodness */

.container:after,
.row:after,
.cf {
    content: "";
    display: table;
    clear: both;
}