/*
* Lit v0.1
* Primary Color set to: #FFA400;
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
}

body {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Nunito", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em;
}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 2.2rem
}

h3 {
    font-size: 1.9rem
}

h4 {
    font-size: 1.6rem
}

h5 {
    font-size: 1.3rem
}

h6 {
    font-size: 1rem
}

p {
    margin-top: 0;
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: #FFA400;
    text-decoration: none;
    transition: opacity .15s ease-in;
}

a:hover {
    opacity: .5;
}



/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn,
button,
input[type="button"] {
    display: inline-block;
    padding: 12px 20px 12px 20px;
    color: #555;
    text-align: center;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background-color: inherit;
    border: 1px solid;
    cursor: pointer;
    font-size: 12px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
}

.btn:hover,
button:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="button"]:focus {
    transform: scale(1.05);
}

.btn.btn-primary,
button.btn-primary,
input[type="button"].btn-primary {
    color: #FFF;
    background-color: #FFA400;
    border: none;
}



/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #FFA400;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 1rem;
}



/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
    padding: .4rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}



/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}



/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button,
.btn {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}



/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.w-100 {
    width: 100%;
}



/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin: 3rem 0 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}



/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Self Clearing Goodness */

.container:after,
.row:after,
.cf {
    content: "";
    display: table;
    clear: both;
}