/*
* Lit v0.1
* Primary Color set to: #FA0
* Font set to: Nunito
*/

* {
    box-sizing: border-box;
}


.c {
    max-width: 960px;
    margin: auto;
    padding: 0 12px;
}
.col {
    float: left;
}
.c,.col,.w-100{
  width: 100%;
}


/* For devices larger than 550px. The unicodes are the numbers 1-11
*/

@media (min-width: 550px) {
    .col {
        margin-left: 4%;
    }
    .col:first-child {
        margin-left: 0;
    }
    .\31.col {
        width: 5%;
    }
    .\32.col {
        width: 13%;
    }
    .\33.col {
        width: 22%;
    }
    .\34.col {
        width: 31%;
    }
    .\35.col {
        width: 39%;
    }
    .\36.col {
        width: 48%;
    }
    .\37.col {
        width: 57%;
    }
    .\38.col {
        width: 65%;
    }
    .\39.col {
        width: 74%;
    }
    .\31 0.col {
        width: 83%;
    }
    .\31 1.col {
        width: 91%;
    }
}

body {
    font: 1em/1.6 Nunito;
    color: #222;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font: 300 1em Nunito;
    margin: .4em 0;
}

h1 {
    font-size: 2.5em
}

h2 {
    font-size: 2.2em
}

h3 {
    font-size: 1.9em
}

h4 {
    font-size: 1.6em
}

h5 {
    font-size: 1.3em
}


a {
    color: #FA0;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}


.btn {
    padding: 12px 20px;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: unset;
    border: solid;
    cursor: pointer;
    font-size: 12px;
    transition: .2s;
    margin: 0 0 1em;
}

.btn:hover {
    transform: scale(1.03);
}

.btn.primary {
    color: #FFF;
    background: #FA0;
    border: none;
}


input,
textarea,
select {
    padding: 12px;
    border: solid #E9E9E9;
    margin: 0 0 1.5em;
}

input:focus,
textarea:focus,
select:focus {
    border: solid #FA0;
    outline: 0;
}

label {
    font-weight: 600;
}


ol,
ul {
    padding: 0;
    list-style: inside;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-left: 3em;
}


code {
    background: #E9E9E9;
    float: block;
    overflow: auto;
}



th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: solid #E9E9E9;
}




/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin: 3em;
    border: solid #E9E9E9;
}

.row {
    overflow: auto;
}