/*
* Lit v0.1
* Primary Color set to: #FA0
* Font set to: Nunito
*/

:root {
    --font: nunito;
    --primary-color: #fa0;
    --light: #eee;
}



@media(min-width:35em) {
    .col {
        display: table-cell
    }
    .\31 {
        width: 5%
    }
    .\33 {
        width: 22%
    }
    .\34 {
        width: 30%
    }
    .\35 {
        width: 40%
    }
    .\32 {
        width: 15%
    }
    .row {
        display: table;
        border-spacing: 1em 0
    }
}

.w-100,
.row {
    width: 100%
}

.c {
    max-width: 60em;
    font: 1em/1.6 var(--font);
    padding: 1em;
    margin: auto;
}

.card,
pre {
    border: solid var(--light);
    padding: 1em;
    margin: .5em 0;
}

.card:focus,
hr {
    border: solid var(--primary-color);
    outline: 0
}

pre {
    overflow: auto
}

h6 {
    font: 300 1em var(--font);
    margin: .5em 0;
}

h5 {
    font: 300 1.3em var(--font);
    margin: .5em 0;
}

h3 {
    font: 300 2em var(--font);
    margin: .5em 0;
}

h4 {
    font: 300 1.5em var(--font);
    margin: .5em 0;
}

h2 {
    font: 300 2.2em var(--font);
    margin: .5em 0;
}

h1 {
    font: 300 2.5em var(--font);
    margin: .5em 0;
}

a {
    color: var(--primary-color);
    text-decoration: none
}

.btn.primary {
    color: white;
    background: var(--primary-color);
    border: solid var(--primary-color)
}


* {
    box-sizing: border-box;
}

a:hover,
.btn:hover {
    opacity: .6
}

td,
th {
    padding: 1em;
    text-align: left;
    border-bottom: solid var(--light)
}

.btn {
    padding: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: none;
    border: solid;
    font: .7em var(--font)
}