/*
* Lit v0.1
* Primary Color set to: #FA0
* Font set to: Nunito
*/

:root {
    --font: Nunito;
    --primary-color: #FA0;
    --light: #eee;
}

* {
    box-sizing: border-box;
}


.c {
    max-width: 60em;
    margin: auto;
    padding: 1em;
    width: 100%;
}

.col {
    float: left;
    width: 100%;
}

.w-100 {
    width: 100%;
}
.row,
pre {
    overflow: auto;
}



/* The unicodes are the numbers 1-11 */

@media (min-width: 35em) {
    .col {
        margin: 0 1%;
    }
    .row {
        margin: 0 -1%;
    }
    .\31.col {
        width: 5%;
    }
    .\32.col {
        width: 13%;
    }
    .\33.col {
        width: 22%;
    }
    .\34.col {
        width: 31%;
    }
    .\35.col {
        width: 39%;
    }
    .\36.col {
        width: 48%;
    }
    .\37.col {
        width: 57%;
    }
    .\38.col {
        width: 65%;
    }
    .\39.col {
        width: 74%;
    }
    .\31 0.col {
        width: 83%;
    }
    .\31 1.col {
        width: 91%;
    }
}

body {
    font: 1em/1.6 var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: 1 1em var(--font);
    margin: .4em 0;
}

h1 {
    font-size: 2.5em
}

h2 {
    font-size: 2.2em
}

h3 {
    font-size: 1.9em
}

h4 {
    font-size: 1.6em
}

h5 {
    font-size: 1.3em
}

a {
    color: var(--primary-color);
    text-decoration: unset;
}

a:hover {
    opacity: .5;
}

.btn {
    padding: 1em 1.3em;
    /*making this just padding: 1em; could save 3 bytes*/
    letter-spacing: .1em;
    text-transform: uppercase;
    background: unset;
    border: solid;
    cursor: pointer;
    font-size: .8em;
    transition: .2s;
    margin: 0 0 1em;
}

.btn:hover {
    transform: scale(1.1);
}

.btn.primary {
    color: #FFF;
    background: var(--primary-color);
    border: unset;
}


.input,
pre {
    padding: 1em;
    border: solid var(--light);
    margin: 0 0 1em;
}

.input:focus, hr {
    border: solid var(--primary-color);
    outline: 0;
}



th,
td {
    padding: 1em;
    text-align: left;
    border-bottom: solid var(--light);
}


/*Misc*/

